.error-message {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
}

.error-container {
    margin: 0 auto;
}

.error-list-item {
    color: mediumseagreen;
}

.error-message--ups {
    font-size : 2rem;
    padding:0;
}

.error-img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
