@keyframes ldio-0yzaz0qjte7i {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-0yzaz0qjte7i div { box-sizing: border-box!important }
.ldio-0yzaz0qjte7i > div {
    position: absolute;
    width: 84.96px;
    height: 84.96px;
    top: 16.52px;
    left: 16.52px;
    border-radius: 50%;
    border: 9.44px solid #000;
    border-color: #4ed5a8 transparent #4ed5a8 transparent;
    animation: ldio-0yzaz0qjte7i 2.2222222222222223s linear infinite;
}

.ldio-0yzaz0qjte7i > div:nth-child(2), .ldio-0yzaz0qjte7i > div:nth-child(4) {
    width: 63.72px;
    height: 63.72px;
    top: 27.139999999999997px;
    left: 27.139999999999997px;
    animation: ldio-0yzaz0qjte7i 2.2222222222222223s linear infinite reverse;
}
.ldio-0yzaz0qjte7i > div:nth-child(2) {
    border-color: transparent #ffffff transparent #ffffff
}
.ldio-0yzaz0qjte7i > div:nth-child(3) { border-color: transparent }
.ldio-0yzaz0qjte7i > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-0yzaz0qjte7i > div:nth-child(3) div:before, .ldio-0yzaz0qjte7i > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 9.44px;
    height: 9.44px;
    top: -9.44px;
    left: 28.32px;
    background: #4ed5a8;
    border-radius: 50%;
    box-shadow: 0 75.52px 0 0 #4ed5a8;
}
.ldio-0yzaz0qjte7i > div:nth-child(3) div:after {
    left: -9.44px;
    top: 28.32px;
    box-shadow: 75.52px 0 0 0 #4ed5a8;
}

.ldio-0yzaz0qjte7i > div:nth-child(4) { border-color: transparent; }
.ldio-0yzaz0qjte7i > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-0yzaz0qjte7i > div:nth-child(4) div:before, .ldio-0yzaz0qjte7i > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 9.44px;
    height: 9.44px;
    top: -9.44px;
    left: 17.7px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 54.279999999999994px 0 0 #ffffff;
}
.ldio-0yzaz0qjte7i > div:nth-child(4) div:after {
    left: -9.44px;
    top: 17.7px;
    box-shadow: 54.279999999999994px 0 0 0 #ffffff;
}
.loadingio-spinner-double-ring-e12yjtbnsu8 {
    width: 118px;
    height: 118px;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
}
.ldio-0yzaz0qjte7i {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-0yzaz0qjte7i div { box-sizing: content-box; }
